body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 12px;
    color: #25262c
}

/*
Mobile first
*/

.headers::after{
    position: absolute;
    content: '';
    pointer-events: none;
    bottom: 0;
    left: 1.5px;
    width: calc(100% - 1px);
    height: 2px;
}

.sections-headers{
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
}

.sections-headers::after{
    background-color: #25262c;
    left: 1px;
    width: calc(100% - 0.8px);
}

.top-bar{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 50px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    z-index: 9999;
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}

.top-bar.open{
    height: 196px;
}

.top-bar .logo{
    position: absolute;
    max-height: 35px;
    top: 25px;
    left: 20px;
    transform: translateY(-50%);
}

header button{
    border: none;
    background: none;
    padding: 0;
}

.top-bar .navigation-btn{
    position: absolute;
    top: 25px;
    right: 20px;
    transform: translateY(-50%);
    color: #25262c;
}

.top-bar .close-icon{
    opacity: 0;
    display: none;
}

.top-bar .page-navigation{
    visibility: hidden;
    opacity: 0;
}

.top-bar.open .hamburger-icon{
    opacity: 0;
    display: none;
}

.top-bar.open .close-icon{
    opacity: 1;
    display: inline-block;
}

.top-bar.open .page-navigation{
    visibility: visible;
    opacity:1;
    width: 30%;
    padding: 0;
    margin: 50px 0 10px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    -webkit-transition: opacity 1.7s ease-in;
    -moz-transition: opacity 1.7s ease-in;
    -o-transition: opacity 1.7s ease-in;
    -ms-transition: opacity 1.7s ease-in;
    transition: opacity 1.7s ease-in;
}

.top-bar .page-navigation li{
    cursor: pointer;
    color: #25262c;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    display: block;
}

.hero-image{
    position: relative;
    top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    min-height: 255px;
}

.hero-text{
    color: #ffffff;
    padding: 25px 0;
    position: relative;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(25%);
}

.hero-text h1{
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%)
}

.hero-text h1::after{
    background-color: #ffffff;
}

.hero-text p{
    text-align: justify;
}

.hero-image .scroll-icon{
    position: absolute;
    left: 50%;
    bottom: 0;
    color: #ffffff;
    transform: translateX(-50%);
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    -ms-transition: transform 1s ease;
    transition: transform 1s ease;
}

.hero-image .scroll-icon.move{
    transform: translateX(-50%) translateY(-2.5px);
}

section{
    margin: 0 20px;
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    grid-gap: 12px;
    min-height: 355px;
    align-items: center;
}

.basic-section .section-img{
    grid-column: 1 / span 2;
    grid-row: 1;
    max-height: 175px;
    max-width: 300px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
    box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
}

.basic-section .sections-headers{
    grid-column: 1 / span 2;
    grid-row: 2;
    height: 24px;
    opacity: 1;
}

.basic-section p{
    grid-column: 1 / span 2;
    grid-row: 3;
    text-align: justify;
    margin: 0;
}
.basic-section p,
.basic-section .sections-headers
{
    opacity: 0;
    -webkit-transition: opacity 1s ease, transform 1s ease;
    -moz-transition: opacity 1s ease, transform 1s ease;
    -o-transition: opacity 1s ease, transform 1s ease;
    -ms-transition: opacity 1s ease, transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(50px);
}

.basic-section.appear p,
.basic-section.appear .sections-headers
{
    opacity: 1;
    transform: translateY(0);
}

.basic-section .horizon{
    width: 100%;
}

.about .logo-about{
    display: none;
}

.gallery{
    width: 100%;
    height: 175px;
    position: relative;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
    box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
}

.gallery img{
    width: 100%;
    max-height: 175px;
    position: absolute;
    top: 0;
    opacity: 0;
}

.gallery img:first-child{
    opacity: 1;
}

.contact{
    justify-items: left;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, auto);
}

.contact .map{
    grid-column: 1 / span 2;
    grid-row: 1 ;
    width: 100%;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
    box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
}
.contact .contact-header{
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-self: center;
}
.contact .contact-text{
    grid-column: 1;
    grid-row: 3;
}
.contact .contact-logo{
    grid-column: 2;
    grid-row: 3;
    max-height: 35px;
    place-self: center;
}

footer{
    width: 100%;
    text-align: center;
    background-color:#25262c;
    color: #ffffff;
}