body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 12px;
    color: #25262c
}

/*
Mobile first
*/

.headers::after{
    position: absolute;
    content: '';
    pointer-events: none;
    bottom: 0;
    left: 1.5px;
    width: calc(100% - 1px);
    height: 2px;
}

.sections-headers{
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
}

.sections-headers::after{
    background-color: #25262c;
    left: 1px;
    width: calc(100% - 0.8px);
}

.top-bar{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 50px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    z-index: 9999;
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}

.top-bar.open{
    height: 196px;
}

.top-bar .logo{
    position: absolute;
    max-height: 35px;
    top: 25px;
    left: 20px;
    transform: translateY(-50%);
}

header button{
    border: none;
    background: none;
    padding: 0;
}

.top-bar .navigation-btn{
    position: absolute;
    top: 25px;
    right: 20px;
    transform: translateY(-50%);
    color: #25262c;
}

.top-bar .close-icon{
    opacity: 0;
    display: none;
}

.top-bar .page-navigation{
    visibility: hidden;
    opacity: 0;
}

.top-bar.open .hamburger-icon{
    opacity: 0;
    display: none;
}

.top-bar.open .close-icon{
    opacity: 1;
    display: inline-block;
}

.top-bar.open .page-navigation{
    visibility: visible;
    opacity:1;
    width: 30%;
    padding: 0;
    margin: 50px 0 10px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    -webkit-transition: opacity 1.7s ease-in;
    -moz-transition: opacity 1.7s ease-in;
    -o-transition: opacity 1.7s ease-in;
    -ms-transition: opacity 1.7s ease-in;
    transition: opacity 1.7s ease-in;
}

.top-bar .page-navigation li{
    cursor: pointer;
    color: #25262c;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    display: block;
}

.hero-image{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 255px;
    padding-bottom: 20px;
}

.hero-text{
    color: #ffffff;
    padding: 25px 0;
    position: relative;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(40%);
}

.hero-text h1{
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%)
}

.hero-text h1::after{
    background-color: #ffffff;
}

.hero-text p{
    text-align: justify;
}

.hero-image .scroll-icon{
    position: absolute;
    left: 50%;
    bottom: 0;
    color: #ffffff;
    transform: translateX(-50%);
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    -ms-transition: transform 1s ease;
    transition: transform 1s ease;
}

.hero-image .scroll-icon .scroll-icon-svg{
    width: 24px;
    height: 24px;
}

.hero-image .scroll-icon.move{
    transform: translateX(-50%) translateY(-2.5px);
}

.basic-section{
    margin: 0 20px;
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    grid-gap: 12px;
    min-height: 355px;
    align-items: center;
}

.basic-section .section-img{
    grid-column: 1 / span 2;
    grid-row: 1;
    max-height: 175px;
    max-width: 300px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
    box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
}

.basic-section .sections-headers{
    grid-column: 1 / span 2;
    grid-row: 2;
    height: 24px;
    opacity: 1;
}

.basic-section p{
    grid-column: 1 / span 2;
    grid-row: 3;
    text-align: justify;
    margin: 0;
}
.basic-section p,
.basic-section .sections-headers
{
    opacity: 0;
    -webkit-transition: opacity 1s ease, transform 1s ease;
    -moz-transition: opacity 1s ease, transform 1s ease;
    -o-transition: opacity 1s ease, transform 1s ease;
    -ms-transition: opacity 1s ease, transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(50px);
}

.basic-section.appear p,
.basic-section.appear .sections-headers
{
    opacity: 1;
    transform: translateY(0);
}

.basic-section .horizon{
    width: 100%;
}

.about .logo-about{
    display: none;
}

.gallery.section-img{
    width: 100%;
    height: 175px;
    position: relative;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.gallery img{
    width: 100%;
    max-height: 175px;
    position: absolute;
    top: 0;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
    box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
}

.gallery img:first-child{
    opacity: 1;
}

.contact{
    justify-items: left;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, auto);
}

.contact .section-img{
    grid-column: 1 / span 2;
    grid-row: 1 ;
    width: 100%;
    justify-self: center;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
    box-shadow: 0px 0px 8px 0px rgba(37,38,44,1);
}
.contact .contact-header{
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-self: center;
}
.contact .contact-text{
    grid-column: 1;
    grid-row: 3;
}
.contact .contact-logo{
    grid-column: 2;
    grid-row: 3;
    max-height: 35px;
    place-self: center;
}

.contact p{
    padding: 3px 0;
    line-height: 1.5;
}

footer{
    width: 100%;
    text-align: center;
    background-color:#25262c;
    color: #ffffff;
}

@media screen and (min-width: 1200px){
    body{
        font-size: 24px;
    }
    header{
        height: calc(100vh - 100px);
    }
    section{
        height: calc(100vh - 75px);
    }
    .headers::after{
        height: 4px;
    }

    .basic-section .sections-headers{
        height: 48px;
    }

    .top-bar{
        background-color: transparent;
        box-shadow: none;
        position: relative;
        top: 50px;
        height: 75px;
    }

    .top-bar.scrolled{
        position: fixed;
        top: 0;
        background-color: #25262c;
        transition: background-color 0.7s ease;
    }

    .top-bar .logo{
        max-height: 70px;
        left: 115px;
        top: 50%;
    }

    .top-bar .page-navigation{
        visibility: visible;
        opacity: 1;
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 50%;
        transform: translateY(50%);
        margin: 0 70px 0 0;
    }

    .top-bar .page-navigation li{
        width: auto;
        font-size: 24px;
        margin-right: 45px;
        color: #ffffff;
        position: relative;
        padding:0;
    }

    .top-bar .page-navigation li::after{
        position: absolute;
        content: '';
        pointer-events: none;
        bottom: -4px;
        left: 1.5px;
        width: calc(100% - 1px);
        height: 3px;
        background-color: #ffffff;
    }

    .top-bar .navigation-btn{
        display: none;
    }

    .hero-image{
        height: calc(100vh + 5px);
        top: -100px;
    }

    .hero-image .scroll-icon .scroll-icon-svg{
        width: 48px;
        height: 48px;
    }

    .hero-image .scroll-icon.move{
        transform: translateX(-50%) translateY(-8px);
    }

    .hero-image .hero-text{
        transform: translateX(-20%) translateY(-50%);
        width: 30%;
        left: 20%;
    }

    .hero-image .hero-text h1{
        left: 0;
        transform: initial;    
    }

    .basic-section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: calc(20vh - 75px) 60px 50vh calc(30vh - 60px);
        justify-items: left;
        padding: 0;
        margin: 0 115px;
        position: relative;
        top: 75px;
    }

    .basic-section .sections-headers{
        grid-row: 2;
        align-self: end;
    }

    .basic-section p{
        grid-row: 3;
        align-self: start;
    }
    
    .basic-section .section-img{
        margin-top: 75px;
        max-width: none;
        max-height: 70vh;
        align-self: start;
    }
            
    .basic-section .horizon{
        width: 100%;
    }
    
    .about .section-img{
        grid-column: 3;
        grid-row: 1 / span 4;
    }

    .about p{
        grid-column: 1 / span 2;
        width: 90%;
    }

    .about .logo-about{
        grid-row: 3;
        grid-column: 1 / span 2;
        text-align: center;
        display: block;
        margin-top: 20px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .projects .sections-headers,
    .contact .sections-headers{
        grid-column: 3;
    }

    .projects p,
    .contact .contact-text{
        grid-column: 3;
    }

    .projects .section-img,
    .contact .section-img{
        grid-column: 1 / span 2;
        grid-row: 2 / span 4;
        max-width: 90%;
        margin-top: 20px;
    }

    .our-work .sections-headers{
        grid-column: 1;
    }

    .our-work p{
        grid-column: 1;
    }

    .our-work .gallery{
        grid-column: 2 / span 3;
        grid-row: 2 / span 3;
        margin-top: 20px;
        width: 90%;
        justify-self: right;
    }
    
    .our-work .gallery img{
        max-height: none;
    }
    
    .contact .contact-text{
        align-self: start;
    }
    .contact .contact-logo{
        grid-column: 3;
        grid-row: 3;
        align-self: end;
        max-height: none;
    }
    .contact .section-img{
        height: 100%;
        justify-self: left;
    }
    footer {
        position: relative;
        top: 75px;
    }

    .basic-section p,
    .basic-section .sections-headers
    {
    opacity: 0;
    -webkit-transition: opacity 1s ease, transform 1.5s ease;
    -moz-transition: opacity 1s ease, transform 1.5s ease;
    -o-transition: opacity 1s ease, transform 1.5s ease;
    -ms-transition: opacity 1s ease, transform 1.5s ease;
    transition: opacity 1s ease, transform 1.5s ease;
    transform: translateY(100px);
    }

}